html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  letter-spacing: .4px;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.second-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.imageContainer {
  margin-bottom: 40px;
}

.imageContainer img {
  border-radius: 8px;
  height: 300px;
  margin-bottom: 10px;
}

.imageContainer button {
  margin: 0 auto;
  display: flex;
  cursor: pointer;
}

.smallImage {
  border-radius: 8px;
  height: 100px;
  width: 100px;
  margin: 10px;
  flex-basis: 100%;
}

h1 {
  padding: 30px 0;
  font-weight: 700;
  font-size: 3rem;
}

#resultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#resultsContainer h2 {
  margin-top: 40px;
  font-size: 1.7rem;
}

.resultRow {
  padding: 20px;
}

hr {
  width: 70vw;
  background-color: black;
  height: 3px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.6rem;
}

.inputContainer #submit {
  cursor: pointer;
  margin-bottom: 10px;
}

#emailInput {
  margin: 10px 0;
}
